.panel-header-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 0 24px;

    & .panel-header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        margin-right: 32px;
    }
}