.button-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    &.bordered-button {
        padding: 8px 16px;
        border-radius: 6px;

        & svg {
            font-size: 1rem;
        }
    }

    &.neutral-button {
        background-image: linear-gradient(
            var(--neutral-button-color1),
            var(--neutral-button-color2)
        );
        color: var(--text-color-light);

        &:active {
            background-image: linear-gradient(
                var(--neutral-button-color2),
                var(--neutral-button-color1)
            );
        }
    }

    &.success-button {
        background-image: linear-gradient(
            var(--success-button-color1),
            var(--success-button-color2)
        );
        color: var(--text-color-light);

        &:active {
            background-image: linear-gradient(
                var(--success-button-color2),
                var(--success-button-color1)
            );
        }
    }

    &.danger-button {
        background-image: linear-gradient(var(--danger-button-color1), var(--danger-button-color2));
        color: var(--text-color-light);

        &:active {
            background-image: linear-gradient(
                var(--danger-button-color2),
                var(--danger-button-color1)
            );
        }
    }

    &.inline-button {
        background-color: transparent;
        color: var(--text-color);
        border: none;

        & svg {
            font-size: 1.5rem;
        }

        &:active {
            opacity: 0.5;
        }
    }

    & .button-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }

    &:hover {
        cursor: pointer;
    }
}
