.text-component {
    &.big-text {
        font-size: 2rem;
        color: var(--text-color);
        font-weight: bold;
    }

    &.title-text {
        font-size: 1.15rem;
        color: var(--text-color);
    }

    &.default-text {
        font-size: 0.75rem;
        color: var(--text-color);
    }

    &.subtitle-text {
        font-size: 0.75rem;
        color: var(--subtle-text-color);
    }
}
