.card-component {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    background-color: #fff;
    overflow: hidden;
}
