.panel-component.speedometer-panel-component {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 0;

    & .speedometer-panel-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 24px 24px 0 24px;

        & .speedometer-panel-header-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }
    }

    & .speedometer-panel-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        padding: 32px 16px;

        & .text-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            max-width: 320px;
            padding: 0 16px;

            & .text-component {
                text-align: center;
            }
        }
    }

    & .speedometer-panel-footer {
        border-top: 1px solid var(--border-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 16px;
    }
}
