.curved-progress-component {
    /* All size values are computed based on this width value */
    --width: 360px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    width: var(--width);
    height: calc(var(--width) / 2);

    overflow: hidden;

    /* Create a circle double the height of the parent component, clipped using overflow:hidden to form a semi-circle*/
    &:after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;

        width: var(--width);
        height: var(--width);

        border: calc(var(--width) * 1 / 9) solid;
        /* Circle has two different colors in each half */
        border-color: var(--border-color) var(--border-color) var(--primary-color)
            var(--primary-color);
        border-radius: 50%;

        /* Semi-circle rotation forwards the progress bar */
        transform: rotate(var(--progress-rotation));
    }

    & .progress-text {
        margin-top: calc(var(--width) * 0.2);
        font-size: calc(var(--width) * 0.1);
    }
}
