.curved-progress-component {
    --width: 360px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    width: var(--width);
    height: calc(var(--width) / 2);

    overflow: hidden;

    &:after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;

        width: var(--width);
        height: var(--width);

        border: calc(var(--width) * 1 / 9) solid;
        border-color: #eee #eee var(--primary-color) var(--primary-color);
        border-radius: 50%;

        transform: rotate(var(--progress-rotation));
    }

    & .progress-text {
        margin-top: calc(var(--width) * 0.2);
        font-size: calc(var(--width) * 0.1);
    }
}
